.coluna {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
}

.h3_roboto{
    font-family: 'Roboto', sans-serif;
}
.fonte{
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;

}
.fonteconfig{
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    padding:1rem

}
.fonte_titulo{
    font-size: 6rem;
    font-family: 'Roboto', sans-serif;

}

.linha {
    display: flex;
    flex-direction: row;
    
}
.border3{

    border-left: 0.1rem;
    border-right: 0.1rem;
    border-style: solid;
    border-color: black;

}
.border4{

    border-left: 0.1rem;
    border-right: 0.1rem;
    border-bottom: 0.1rem;
    border-top: 0.1rem;
    border-style: solid;
    border-color:#c2b792;
    padding-bottom: 0.3rem;
    width:23rem;
}
.border4_5{

    border-left: 0.1rem;
    border-right: 0.1rem;
    border-bottom: 0.1rem;
    border-top: 0.1rem;
    border-style: solid;
    border-color:#c2b792;
    padding-bottom: 0.3rem;
   
}

.enviar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.title{
    justify-content: center;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
.linha-header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 1.5rem;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    
}
.linha-header2{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding:0.2rem;
    
    
}
.coluna2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 41rem;
    padding-bottom: 5rem;
    overflow: scroll;
    
}
.coluna3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-height: 41rem;
    overflow: scroll;
    
}
.foot{
    display:flex;
    justify-content: space-around;
    padding-bottom: 0.9rem;
    padding-top: 0.9rem;
    position: fixed;
    background-color: #c2b792;
    border-radius: 0.5rem;
    bottom: 0;
    width:100%;
    left: 0;    
}
.fundodatela{
    display:flex;
    justify-content: space-around;
    padding-bottom: 0.9rem;
    position: fixed;
    bottom: 0;
    width:100%;
}

.img0{
    width: 21rem;
    height:7rem;
}
.img2{
    width:3.4rem;
    height:3.4rem; 
}
.img3{
    width:2.3em;
    height:2.3rem;
    border-left: 0.1rem;
    border-right: 0rem;
    border-bottom: 0rem;
    border-top: 0rem;
    border-style: solid;
    border-color: black;
}
.img4{
    width: 8rem;
    height: 4rem;
    padding-right: 2rem;
}
.imgfil{
    width:3.3rem;
    height: 3.3rem;
}
.imagem{
    height: 10%;
    width: 10%;
}
.imagem_fundo{
    width:9.4rem;
    height:9.4rem;  

}

.sorte{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    
}

.sorte div{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}
.padding{
    padding-bottom: 0.9rem;
}
.padding2{
    padding-bottom: 4rem;
}
.padding3{
    padding-bottom: 2.2rem;
}
#rectangle{
    width:21rem;
    height: 2.5em;
    background:white;
    background-color: #c7c9c9;
    
}
#rectangle1{
    width:21rem;
    height: 2.5em;
    background:white;
    background-color: #c7c9c9;
}
#rectangle2{
    width:21rem;
    height: 2.5em;
    background:white;
    background-color: #c7c9c9;
}
#rectangle3{
    width:21rem;
    height: 2.5em;
    background:white;
    background-color: #c7c9c9;
}
.head{
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
.linhab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lista{
    font-size: 2rem;
    
}
.border5{
    border-left: 0rem;
    border-right: 0rem;
    border-bottom: 0.1rem;
    border-top: 0.1rem;
    border-style: solid;
    border-color: black;
    background-color: #c7c9c9;
    font-family: 'Roboto', sans-serif;
}
.border6{
    border-left: 0rem;
    border-right: 0rem;
    border-bottom: 0.1rem;
    border-top: 0rem;
    border-style: solid;
    border-color: black;
    background-color: #c7c9c9;
    font-family: 'Roboto', sans-serif;
}
.border7{
    background-color: #c7c9c9;
    font-family: 'Roboto', sans-serif;
}
.moema{
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    width:100%;
}
.moeme{
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
    padding-right: 10.4rem;
    font-family: 'Roboto', sans-serif;
}
.border7{
    border-left: 0.1rem;
    border-right: 0.1rem;
    border-bottom: 0.1rem;
    border-top: 0.1rem;
    border-style: solid;
    border-color: black;
}
.casa{
    color: #c2b792 ;
    font-size: 5rem;
    
}
.casa1{
    color: #c2b792 ;
    font-size: 2.5rem;
    
}

.chat{
    font-size: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

.h1{
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.h2{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.h3{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: 'Bitter', serif;
}

.header1{
    padding-left: 1rem;
}

.entrada-msg{
    width: 100%;
    margin-right: 1%;
    border: #482861 1px solid;
}

.img{
    width: 80%;
    height: auto;
    padding-left: 3rem;
}
.imgc{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: auto;
}

.body1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mensagens{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 32rem;
    overflow-y: scroll;
}

.bolha-usuario{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color:#f24646;
    border: black 0.2rem solid;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.bolha-resposta{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem;
    background-color: #92b5c2;
    border-radius: 0.5rem;
    border: 0.2rem solid black ;
}

.msg-resposta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0.1rem;
}

.msg-usuario{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 0.1rem;
}

.main1{
    display: flex;
    flex-direction: column;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    width: 90%;
    height: 100%;
    min-height: 35rem;
}

.finaldapagina{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0.625rem;
    height: 100%;
}

.pessoas{
    width: 100%;
    height: auto;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.centro{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.nav{
    position: fixed;
    bottom: 0;
    width: 47%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mandarmensagem{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 150%;
    height: 100%;
}

.aref{
    display: flex;
    width: 50%;
}
.ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
}

.mandarmensagemul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 1rem;
    align-items: center;
    height: 3rem;
    position: fixed;
    bottom: 12%;
}

.textosmensagens{
    padding-top: 0.5rem;
    font-family: 'Roboto', sans-serif;
}

.fonte_alinhamento{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botao-footer {
    max-width: 50px;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linha_filtro {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.688rem;
    padding-bottom: 1.688rem ;
}
.mainmenu_e_pos_h1 {
    font-size: 3rem;
    color: #c2b792;
}

.main_filtro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.75rem;
    padding-bottom: 7rem;
    height: 100%;
    min-height: 467px;
    justify-content: space-around;
}

.botao {
    border: 0.125rem solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}
.textos {
    display: flex;
    flex-direction: column;
    padding: 0.625rem;
    font-size: 2rem;
}

.dtexto {
    padding: 0.625rem;
    font-family: 'Bitter', serif;
}

.caixa {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pessoas_filtro {
    border: 0.125rem solid black;
    border-radius: 2rem;
}

.imagem-pessoa {
    border-radius: 1rem;
    width: 100%;
    min-height: 467px;
}

.opiniao {
    padding-right: 1rem;
    padding-left: 1rem;
}

.footer_filtro{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.seletor {
    border: 0.125rem solid black;
    padding: 0.625rem;
}

.linha-opcoes {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.textos-filtros {
    display: flex;
    flex-direction: column;
    padding: 0.625rem;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.section_filtro {
    width: 100%;
}

.opcoes {
    display: flex;
    flex-direction: column;
    height: 3rem;
    justify-content: space-around;
    align-items: flex-start;   
    font-family: 'Bitter', serif;
}

.x {
    width: 20%;
}

.filter-text {
    width: 100%;
    font-size: 3rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.perfil {
    border-radius: 1rem;
    max-width: 53px;
}

.img-filtro {
    max-width: 45px;
}
.passar {
    max-width: 21px;
    max-height: 107px;
}

.confirmar {
    max-width: 87px;
    max-height: 24px;
}

.aplicar {
    max-width: 165px;
    max-height: 57px;
}

.barra_nav {
    width:2.3rem;
    height:2.3rem;
    color: #482861;
    border-color: #D9AADD;
    border-radius: 0.5rem;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
/* Modal Content */
.modal-content {
position: fixed;
bottom: 350px;
background-color: #fefefe;
width: 100%;
-webkit-animation-name: slideIn;
-webkit-animation-duration: 0.4s;
animation-name: slideIn;
animation-duration: 0.4s
}

/* The Close Button */
.close {
color: white;
float: right;
font-size: 25px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.modal-header {
padding: 10px 16px;
background-color: #5cb85c;
color: white;
}

.modal-body {padding: 10px 16px;}

.modal-footer {
padding: 10px 16px;
background-color: #5cb85c;
color: white;
}


/* Add Animation */
@-webkit-keyframes slideIn {
from {bottom: -300px; opacity: 0} 
to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
from {bottom: -300px; opacity: 0}
to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
from {opacity: 0} 
to {opacity: 1}
}

@keyframes fadeIn {
from {opacity: 0} 
to {opacity: 1}
}