h1{
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

h2{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

h3{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: 'Bitter', serif;
}

.img{
    width: 25%;
    height: auto;
    padding-left: 0.5rem;
}

.pessoas{
    width: 30%;
    height: auto;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.centro{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

section{
    display: flex;
    flex-direction: row;
}

.nav{
    position: fixed;
    bottom: 0;
    width: 47%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mandarmensagem{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    padding-top: 40%;
    padding-left: 5%;
    width: 70%;
    height: auto;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
}

.foot{
    display:flex;
    justify-content: space-around;
    padding-bottom: 0.9rem;
    position: fixed;
    bottom: 0;
    width:100%;
}

.linha{
    display:flex;
    flex-direction: row;
}
.coluna{
    display:flex;
    flex-direction:column;
}
.fonte{
    font-size: 4rem;

}
.fonte_titulo{
font-size: 6rem;

}
.imagem{
    height: 10%;
    width: 10%;
}
.img2{
    width:3.4rem;
    height:3.4rem;    
}
.imagem_fundo{
    width:9.4rem;
    height:9.4rem;  

}
.fundodatela{
    display:flex;
    justify-content: space-around;
    padding-bottom: 0.9rem;
    position: fixed;
    bottom: 0;
    width:100%;
}